@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-black antialiased font-sans;
  font-family: "Geist", "Helvetica Neue", Arial, sans-serif;
  --highlite-color: orangered;

  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.selector::-webkit-scrollbar {
  display: none;
}

.selector {
  scrollbar-width: none;
}

.selector {
  -ms-overflow-style: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::selection {
  color: var(--highlite-color);
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
