@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

body {
  @apply bg-gray-300 text-black antialiased font-sans;
  font-family: "Aereal", sans-serif;
  --highlite-color: orangered;

  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.selector::-webkit-scrollbar {
  display: none;
}

.selector {
  scrollbar-width: none;
}

.selector {
  -ms-overflow-style: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::selection {
  color: var(--highlite-color);
}

/* @font-face {
  font-family: "Aereal";
  src: url("/fonts/ABCArealSemiMonoVariable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "Aereal";
  src: url("/fonts/ABCArealSemiMonoVariable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
