@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black antialiased font-sans;
  font-family: "Helvetica Neue", Arial, sans-serif;
  --highlite-color: yellow;

  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.selector::-webkit-scrollbar {
  display: none;
}

.selector {
  scrollbar-width: none;
}

.selector {
  -ms-overflow-style: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::selection {
  color: var(--highlite-color);
}
